:host{
  display: flex;
  justify-content: center;
}

.wrapper{
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 20px;
}


.search-result-section{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 90%;
}
.pos-wrapper{
  position: relative;
  width: 20%;
}

.pos-wrapper .category-list{
  display: flex;
  flex-direction: column;
}

.pos-wrapper .price-filter form, .price-filter form  span{
  display: flex;
  flex-direction: column;
}

.filter{
  position: fixed;
  border-radius: 10px;
  margin-right: 3%;
  background: #fff;
  padding: 10px;
  /* max-width: 200px;
  min-width: 150px; */
}

.product-list{
  flex-grow: 5;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.sort{
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  font-weight: 600;
  padding: 5px 10px;
}

.button-sort{
  min-width: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #d2d2d2;
  padding: 3px 15px;
  background: #fff;
  outline: none;
  border-radius: 5px;
}


.dropdownlist{
  width: 100%;
  /* min-width: 100%; */
  min-width: 100px;
  background: grey;
  font-size: 0.8rem;
  border: none;
}

.dropdownlist button{
  padding: 5px;
  white-space: pre-wrap;
}

.slider {
	position: relative;
	z-index: 1;
	height: 10px;
	margin: 0 15px;
}
.slider > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #c6aee7;
}
.slider > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #6200ee;
}
.slider > .thumb {
	position: absolute;
	z-index: 3;
	width: 30px;
	height: 30px;
	background-color: #6200ee;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left {
	left: 25%;
	transform: translate(-15px, -10px);
}
.slider > .thumb.right {
	right: 25%;
	transform: translate(15px, -10px);
}
.slider > .thumb.hover {
	box-shadow: 0 0 0 20px rgba(98,0,238,.1);
}
.slider > .thumb.active {
	box-shadow: 0 0 0 40px rgba(98,0,238,.2);
}

input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}


 /* MEDIA QUERIES  */

/* tablet device */
@media screen and (min-width: 768px) and (max-width: 1024px){

  ais-search-box{
    width: 85%;
    align-self: center;
  }

  .pos-wrapper{
    position: relative;
    width: 30%;
  }
  .filter{
    /* max-width: 170px; */
  }
}

  /* large phone  */
@media screen and (max-width:767px){
    /* .pos-wrapper{
      display: none;
    }
    .sort{
      display: none;
    } */

    ais-search-box{
      width: 100%;
      align-self: center;
    }
    ais-stats{
      align-self: end;
    }





/* =====================================
 */


 .header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #c3002f, #dd0031);
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: " ▸ ";
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.searchbox {
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}
}
