:host{
  /* position: absolute; */
  background: #ffffff;
  /* bottom: 0; */
  position: absolute;
  bottom: 0;
  width: 100%;
}

.wrapper{
  background: #DAF4E8;
  border-radius: 10px 10px 0px 0px;
}

.top-footer{
  background: #DAF4E8;
  height: 40px;
  padding: 5px;
  display: flex;
  border-radius: 10px 10px 0px 0px;
  justify-content: center;
  font-weight: 600;
  color: #0CA251;
}

.bottom-footer{
  background: #026436;
  height: 80px;
  justify-content: center;
  display: flex;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

.bottom-footer .footer-links{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.bottom-footer .footer-links .navlink{
  color: #FFFFFF;
}

footer{
  width: 100%;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  color: hsl(152deg 2% 54%);
  font-size: 0.9rem;
  padding: 5px;
  height: 10%;
  background: hsl(152deg 20% 20%);
}
