<!-- filter - sort menu -->
<section class="wrapper">


  <a style="text-decoration: none;" (click)="scrollToTop();">
    <div class="top-footer">
      Back to Top
    </div>
  </a>
  <div class="bottom-footer">
    <div class="footer-links">
      <a class="1 navlink" [routerLink]="['/about']">About</a>
      <a class="2 navlink" href="">Terms Of Use</a>
      <a class="3 navlink" [routerLink]="['/contact-us']" fragment="office">Office</a>
      <a class="4 navlink" [routerLink]="['/contact-us']"  fragment="contact">Contact Us</a>
    </div>
  </div>

      <footer>
        &#169; Copyright Eki-Edo - {{year}}

      </footer>
</section>

