
  <section>
    <div class="wrapper">
      <h3>Login</h3>
      <form action="" [formGroup]="loginForm"  method="post" (ngSubmit)="login()">
        <div class="email-div">
          <input class="form-control" type="email"
          [ngClass]="{'is-invalid': loginForm.get('email').touched && loginForm.get('email').invalid}"
          formControlName="email" name="email"  placeholder="Email" required/>
          <span class="invalid-feedback">Required</span>
        </div>
        <div class="password-div">
          <input class="form-control" type="password"
          [ngClass]="{'is-invalid': loginForm.get('password').touched && loginForm.get('password').invalid}"
          formControlName="password"
           name="password" placeholder="Password" required/>
          <span class="invalid-feedback">Required</span>
        </div>


        <div class="extras">
          <div class="checkbox">
            <input Class="check" type="checkbox"  formControlName="remember" name="remember" />
            <label for="check">Remeber Me</label>
          </div>

          <div class="forgot-pwd">
            <a href="">Forgot password</a>
          </div>
        </div>

        <div class="login-btn-div">
          <button [ngClass]="loginForm.valid ? '' : 'disabled'" type="submit" >
            Login
          </button>
        </div>
      </form>
      <div class="forgot-pwd">
        <br>
       <a href=""
       style="
       text-decoration: none;
       color: #808890;
       font-style: italic;
       font-weight: 500;"
       [routerLink]="['/register']">Register</a>
      </div>

    </div>
  </section>


