section{
  display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50vh; */
    padding: 40px;

}

form{
  width: 100%;
}

.form-control{
  /* border: 1px solid #989898; */
  /* color: #989898; */
  color: rgb(20, 20, 20);
}

.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 50%;
  padding: 5% 5% 6% 5%;
  background: #FFFFFF;
  box-shadow: 0px 4px 15px -5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.wrapper h3{
  margin-bottom: 40px;
  color: #989898;
  text-transform: uppercase;
}

.wrapper form .email-div, .wrapper form .password-div{
  margin-bottom: 20px;
}


.extras{
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}

.extras a{
  color: #CC353E;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 700;
}

.extras .checkbox{
  display: flex;
  justify-content: center;
  align-items: center;
}

.extras .checkbox label{
  text-decoration: none;
  color: #6F6A6A;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 0;
}


.extras .check{
  margin-right: 10px;
}


.login-btn-div{
  display: flex;
}

.login-btn-div button{
  flex-grow: 1;
  background: #CC353E;
  border-radius: 5px;
  border: none;
  padding: 10px;
  color: #F7F7F7;
  text-transform: uppercase;
}

.login-btn-div button.disabled{
  background: #ff9da3;
}


/* tablet device */
@media screen and (min-width: 768px) and (max-width: 1024px){


  .wrapper{
    width: 100%;
    max-width: 70%;
  }


  }

    /* large phone  */
    @media screen and (max-width:767px){

      section{
        padding: 40px 2%;
      }
      .wrapper{
        width: 100%;
        max-width: 100%;
        padding: 10% 7% 15% 7%;
      }

  }
