<a [routerLink]="['/p/', product.id]">
<div class="product">
  <div class="img">
    <img src="{{product.images[0]?.src}}" alt="">
  </div>
<div class="name">
  <h2>{{product.name | slice: 0:15 }}...</h2>
</div>

  <div class="price">

    {{product.price | currency:'NGN': 'symbol-narrow': '2.0-0'}}

  </div>

  <span *ngIf="product?.sale_price" class="discount">
    {{product?.regular_price | currency:'NGN': 'symbol-narrow': '2.0-0'}}
  </span>

  <span class="percent-discount" *ngIf="product?.sale_price">
  -{{100 - (product?.sale_price / product.regular_price * 100)  | number : '1.0-0'}}%
  </span>



</div>
</a>

