
<section>
  <div class="wrapper">
    <h3>Register</h3>
    <form action="" [formGroup]="registerForm" method="post" (ngSubmit)="register()">

      <div class="firstName-div input-div">
        <input class="form-control" type="text"
        [ngClass]="{'is-invalid': registerForm.get('firstName').touched && registerForm.get('firstName').invalid}"
        formControlName="firstName"
        placeholder="First name" required/>
        <span class="invalid-feedback">
          Required field
        </span>
      </div>

      <div class="lastName-div  input-div">
        <input class="form-control" type="text"
        [ngClass]="{'is-invalid': registerForm.get('lastName').touched && registerForm.get('lastName').invalid}"
        formControlName="lastName"
        name="lastname" placeholder="Last name" required/>
        <span class="invalid-feedback">
          Required field
        </span>
      </div>

      <div class="email-div  input-div">
        <input class="form-control" type="email"
        [ngClass]="{'is-invalid': registerForm.get('email').touched && registerForm.get('email').invalid}"
        formControlName="email" name="email"  placeholder="Email" required/>
        <span class="invalid-feedback">
          Required field
        </span>
      </div>

      <div class="password-div  input-div">
        <input class="form-control" type="password"
        [ngClass]="{'is-invalid': registerForm.get('password').touched && registerForm.get('password').invalid}"
        formControlName="password"
         name="password" placeholder="Password" required/>
        <span class="invalid-feedback">
          Required field
        </span>
      </div>


      <div class="phone-div  input-div">
        <input class="form-control" type="phone"
        [ngClass]="{'is-invalid': registerForm.get('phone').touched && registerForm.get('phone').invalid}"
        formControlName="phone" name="phone"  placeholder="phone number: +234" required/>
        <span class="invalid-feedback">
          Required field
        </span>
      </div>

      <div class="address-div  input-div">
        <div>
          <agm-map [latitude]="lat" [longitude]="lng" >
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>

        </div>

        <textarea placeholder="Type in an Address, and select" class="form-control"
        [ngClass]="{'is-invalid': registerForm.get('address').touched && registerForm.get('address').invalid}"
        formControlName="address"
         name="address" id="address" #search rows="3" required></textarea>
        <span class="invalid-feedback">
          Required field
        </span>
      </div>




      <div class="extras">
        <div class="checkbox">
          <input Class="check" type="checkbox"
          formControlName="newsPermission"
          [ngClass]="{'is-invalid': registerForm.get('newsPermission').touched && registerForm.get('newsPermission').invalid}"
          name="newsPermssion" />
          <label for="check">I want to receive news on offers</label>
        </div>

      </div>

      <div class="register-btn-div">
        <button type="submit" [ngClass]="registerForm.valid ? '' : 'disabled'" >
          Register
        </button>
      </div>
    </form>


  </div>
</section>

