<section class="wrapper">

  <div class="wrapper-div">
      <div class="cart-items">
        <div class="cart-item-count">
          <h1>Cart (2 Items)</h1>
        </div>

        <div class="cart-item-label">
          <span class="item-label">Item</span>
          <span class="qty-label">Qty</span>
          <span class="unit-label">Unit Price</span>
          <span class="subtotal-label">SubTotal</span>
        </div>
<!-- ================================== -->
        <!-- loop out cart items here -->
        <div *ngIf="cartItems.length === 0 " class="alert alert-info">
            Your cart is empty
        </div>

        <span *ngIf="cartItems.length > 0  ">
          <app-cart-item (newQty)="updateQty($event);" (cartItemRemoved)="removeItemFromView()" *ngFor="let cartItem of cartItems " [cartItem]="cartItem"></app-cart-item>
        </span>

<!-- ================================ -->
      </div>


      <div class="total">
            <div class="total-wrap">
              <div class="grand-total">
               <span class="label">
                 <h4>Total:</h4>
               </span>
               <span class="val">
                 <h3> {{cartTotal | currency:"NGN":"symbol-narrow": '2.0-0'}}</h3>
               </span>
              </div>
              <div class="desc">
                Delivery fee not included
              </div>
            </div>
      </div>

      <div class="checkout-btn">
        <div class="btn-wrapper">
          <a [routerLink]="['']" class="cont-shopping">
            <span class="return-home-icon">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 36 36"><path class="clr-i-outline clr-i-outline-path-1" d="M33.71 17.29l-15-15a1 1 0 0 0-1.41 0l-15 15a1 1 0 0 0 1.41 1.41L18 4.41l14.29 14.3a1 1 0 0 0 1.41-1.41z" fill="#626262"/><path class="clr-i-outline clr-i-outline-path-2" d="M28 32h-5V22H13v10H8V18l-2 2v12a2 2 0 0 0 2 2h7V24h6v10h7a2 2 0 0 0 2-2V19.76l-2-2z" fill="#626262"/><rect x="0" y="0" width="36" height="36" fill="rgba(0, 0, 0, 0)" /></svg>
          </span>
          <span class="return-home-text">
            CONTINUE SHOPPING
          </span>
        </a>
          <button class="proceed">PROCEEED TO CHECKOUT</button>
        </div>

      </div>
  </div>

</section>
