<div class="wrapper">
  <!-- <div class="jumbotron jumbotron-fluid head-img">
    <div class="overlay"></div>
    <div class="container"> -->
      <!-- <h1 class="display-4">About EkiEdo</h1> -->
      <!-- <p class="lead"></p>
    </div>
  </div> -->


  <div class="quote">

    <div class="img">
      <!-- <img src="../../assets/img/farmer2.jpg" class="img-fluid" alt="Responsive image"> -->
    </div>

    <div class="jumbotron jumbotron-fluid j-quote">
      <div class="container">
        <h1 class="display-4">
          "Farming is hard;
          so we believe
          marketing
          should be easy."
        </h1>
        <p class="lead">Eki-Edo wants to Increase access to
          markets for farmers and agro
          processors.</p>
      </div>
    </div>
  </div>


  <div class="about">
    <h1 class="about-title">About EkiEdo</h1>
    <p class="about-content">
      For the first time, we are going to have a 100% Nigerian
      farmers mart, grown on Nigerian soil, by Nigerians but
      not just for Nigerians, this time for the world and Eki Edo
      is the vehicle that is driving all of these.
    </p>

  </div>

  <div class="mission">
    <h2 class="title">Our Mission</h2>

    <div class="row">
      <!-- <div class="col-sm-4"> -->
      <div class="card col-sm-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <img src="../../assets/img/icons8-money-100.png" alt="" srcset="">
          </h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <p class="card-text"> Galvanize smallholder farmers and agro-processors towards promoting better sales and increased profits</p>
        </div>
      </div>
      <!-- </div> -->

      <!-- <div class=""> -->
      <div class="card col-sm-3" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <img src="../../assets/img/icons8-grocery-bag-48.png" alt="" srcset="">
          </h5>
          <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <p class="card-text">
            Make available fresh and hygienic groceries to Nigerian homes,
            while maintaining unbeatable affordability
          </p>
        </div>
      <!-- </div> -->
      </div>


        <div class="card col-sm-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">
              <img src="../../assets/img/icons8-international-food-48.png" alt="" srcset="">
            </h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <p class="card-text">
              Standardize the quality of our local produce to meet and surpass
              export grade
              </p>
          </div>
        </div>

    </div>  <!-- end of row -->

    <h2 class="title">Our Vision </h2>

    <div class="row">
        <div class="card col-sm-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">
          <img src="../../assets/img/icons8-launch-64.png" alt="" srcset="">
        </h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <p class="card-text">
          To become the number one channel for the sourcing and
          distribution of groceries in Nigeria, using Edo state as a
          launchpad
          </p>
      </div>
    </div>
    </div>


  </div>




</div>


