:host{
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

/deep/ .card {
  border: none;
  background: #fff;
}

/deep/ .card-header{
  background: #fff;
  padding: 0;
}

/deep/ .card ul li{
  list-style: none;
  margin-bottom: 10px;
  background: #f7f7f7;
  padding: 5px 5px 5px 10px;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 7px;
}

/deep/ .card ul li:hover{
  background: #ebfff2;
  color: #539467;
  cursor: pointer;
}

nav{
  /* position: relative; */
}

a{
  text-decoration: none;
}


/* ---- top nav links ---  */
.top-nav-links{
  font-family: 'Open Sans', sans-serif;
  padding: 10px 10px;
  display: flex;
  height: 30px;
  font-size: 0.7rem;
  font-weight: 600;
  justify-content: space-between;
  background: #539647;
}

.top-nav-links .links{
  flex-grow: 3;
  margin-right: 20%; /*correct using media queries */
  display: flex;
  justify-content: space-around;
}

.top-nav-links .contact{
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}

.top-nav-links a{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c4d7c4;
  text-decoration: none;
}

.contact a{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact a .icon{
  display: flex;
  padding: 5px;
}

 /* ---- end of top nav links ----  */

 .bottom-nav-links{
   border-radius: 10px 10px 0 0;
   display: flex;
   justify-content: space-around;
   background: #FFFFFF;
   align-items: center;
   box-shadow: 0px 4px 15px -5px #D3D3D3;
 }

 .logo-div{
  height: 60px;
  /* flex-grow: 1; */
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .logo-div img{
   height: 100%;
 }

 .search-bar{
   flex-grow: 3;
   display: flex;
   justify-content: center;
   align-items: center;
 }


 .login-and-cart{
   flex-grow: 1;
   display: flex;
  justify-content: space-around;
 }

 .login-and-cart .login{
   display: flex;
   color: #555353;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
 }

 .login .dropdown-login{
    position: absolute;
    /* padding: 20px; */
    border-radius: 5px;
    display: flex;
    width: 100%;
    height: 90px;
    bottom: -400%;
    justify-content: space-around;
    display: none;
    flex-direction: column;
    background: white;
    box-shadow: 0px 5px 8px -3px grey;
  }

  .dropdown-login a {
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(63, 60, 60);
    font-weight: 600;
    border-radius: 5px;
  }

  .dropdown-login a:hover{
    background: #ddf1da;
  }

  .login-and-cart .login:hover, .login-and-cart .login:hover .user-icon svg path{
    color: #e0e0e0;
    fill: #e0e0e0;
  }

  .login-and-cart .login:hover .dropdown-login{
    display: flex;
    cursor: pointer;
  }

 .login-and-cart .login .user-icon{
   margin-right: 10px;
   display: flex;
    justify-content: center;
    align-items: center;
 }

 .user-icon svg path{
   fill: #555353;
 }

 .login-and-cart .icon-val{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .cart{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
}

.cart a{
  display: flex;
  text-decoration: none;
  color: #555353;

}
.cart .cart-icon{
  margin-right: 10px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cart .cart-icon sup span{
  padding: 6px;
  bottom: 0;
  font-size: 0.9rem;
  font-size: 9px;
  color: #fff;
  background: #d55a53;
  border-radius: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -16px;
}


/* ------------ start of mobile styles -----------*/
.mobile-search-bar{
  display: none;
}


/* =============== hamburger Menu =============*/
.hamburger-wrapper{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger{
  display: none;
  width: 22px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 2%;
  height: 22px;
  position: relative;
  background: transparent;
  z-index: 99;
}

.hamburger .hamspan1,.hamburger .hamspan2,.hamburger .hamspan3{
  height: 2px;
  width: 100%;
  background:#fafafa;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;

}

.hamburger .hamspan1, .hamburger .hamspan3{
  background: rgb(173,173,173);
}

.hamburger .hamspan2::after{
  content: '';
  position: absolute;
  background:#fafafa;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  height: 2px;
  width: 100%;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.hamburger .hamspan2::before{
  content: '';
  position: absolute;
  background: #fafafa;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  height: 2px;
  width: 100%;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.active .hamspan1, .active .hamspan3 {
  opacity: 0;
}
.active .hamspan2{
  background: transparent;
}
.active .hamspan2::after{
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: #Ff2000;
}
.active .hamspan2::before{
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background: #Ff2000;
}

/* ====== END OF HAMBURGER MENU  === */



/* ==== start of mobile menu content ===  */

/* =========================================== start of menu div ==== */

      .menu-section{
        width: 100%;
        height: 100%;
        position: fixed;
        background: #1313138a;
        bottom: 0;
        z-index: 9;
        opacity: 0;
        -webkit-transform: translateX(-110%);
            -ms-transform: translateX(-110%);
                transform: translateX(-110%);
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }

      .active-menu{
          -webkit-transform: translateX(0);
              -ms-transform: translateX(0);
                  transform: translateX(0);
          opacity: 1;
      }
      .menu-div{
          width: 70%;
          padding: 50px 15px;
          height: 100%;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          position: fixed;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          overflow: auto;
          /* background: rgb(231, 231, 231); */
          background: #FFFFFF;
          /* overflow-y: scroll; */
      }

      .menu-div a:hover{
        color: green;
        font-weight: 700;
      }

      .menu-div .menu-links{
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          /* padding: 20px; */
          padding: 20px 20px 5px 20px;
      }

      .menu-div .menu-links .link{
          margin-bottom: 20px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: end;
              -ms-flex-pack: end;
                  justify-content: end;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          font-weight: 600;
          color: #333;
          padding: 10px;
      }

      .menu-div .menu-links .link{
        /* background: #dbdbdb; */
        border-radius: 5px;
        background: #f4f1f1;
      }

      .menu-div .menu-links .link:hover{
        background: #cfdecf;
        color: green;
      }

      .menu-div .menu-links .link span:hover{
        color: green;
        fill: green;
      }

      .menu-div .menu-links .link:hover svg path{
        fill: green;
      }

      .menu-div .menu-links .link .icon{
          margin-right: 10px;
          display: flex;
      }

      .menu-div .profile{
          padding: 20px;
          border-bottom: 1px solid #c8c8c8;
      }
      .menu-div .profile h2{
          color: #555;
          font-weight: 600;
      }
      .menu-div .profile a{
          color: #5d0c00;
          font-size: 0.9rem;
      }

      .logout button{
        width: 100%;
        border: none;
        padding: 10px;
        border-radius: 5px;
        background: #CC353E;
        color: #e0e0e0;
      }

      .logout .btn-group{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: center;

      }

      .logout .btn-group .login{
        padding: 10px;
        background:#CC353E;
        color: #e3e3e3;
        margin-bottom: 10px;
        border-radius: 5px;
        font-weight: 600;
      }

      .logout .btn-group .register{
        color:  #CC353E;
        font-weight: 600;
        font-size: 1.1rem;
      }

      /* accordion css */

      .account{
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #c8c8c8;
      }

      .account:hover span, .account:hover div a{
        color: #333;
      }

      .account:hover div a:hover{
        color: green;
      }

      .account .wrap{
        width: 100%;
        padding: 10px 0;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #c8c8c8;
      }

      .account-links{
        width: 100%;
        display: flex;
        flex-direction: column;
        min-height: 70px;
        /* background: grey; */
        padding: 10px;
      }

      .account-links a{
        padding: 10px 0;
        text-decoration: none;
        display: flex;
        color: #333;
        align-items: center;
      }

      .account-links a:hover span{
        font-weight: 600;
      }
/* ==== end of mobile menu content ====  */





/* ==== MEDIA QUERIES ===  */

/* tablet device  */
@media screen and (min-width: 768px) and (max-width: 1024px){
  .top-nav-links .links{
    margin-right: 0;
  }
  .cart .icon-val, .login .icon-val{
    display: none;
  }
  .mobile-search-bar{
    display: none;
  }
  .login-and-cart{
    flex-grow: 3;
  }

  .dropdown-login{
    padding: 10px;
    min-width: 120px;
  }

}

/* large phone  */
@media screen and (max-width:767px){

  .hamburger{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .top-nav-links{
    display: none;
  }

  .cart .icon-val{
    display: none;
  }

  .login-and-cart .login{
    display: none;
  }

  .search-bar{
    display: none;
  }

  .mobile-search-bar{
    display: flex;
    background: #026436;
    padding: 10px;
    justify-content: center;
    align-items: center;
    max-height: 40px;
  }

  .mobile-search-bar input{
    height: 25px;

  }



}

@media screen and (max-width: 330px){

  .account .account-links a{
    font-size: 0.8rem;
  }

  .account .account-links a span{
    font-size: 0.8rem;
  }
}
