.products{
  /* display: grid; */
  margin: 10px 0;
  /* justify-content: center; */
  /* grid-gap: 10px; */
  padding: 10px;
  /* grid-template-columns: repeat(auto-fit, 150px); */
  /* grid-template-rows: repeat(auto-fill, 150px); */
}

/* table device */
@media screen and (min-width: 768px) and (max-width: 1024px){

}

  /* large phone  */
@media screen and (max-width:767px){
  .products{
    /* grid-template-columns: repeat(auto-fit, 100px); */
    padding: 0;
  }
}
