.pageTitle{
  font-size: 1.3rem;
  color: #656565;
  margin-bottom: 30px;
}


.form-group{
  display: flex;
}

textarea{
  min-height: 150px;
}


.firstname-div,
.lastname-div,
.email-div,
.phone-div,
.city-div,
.state-div{
  flex-grow: 1;
}

.lastname-div,
.phone-div,
.state-div{
  margin-left: 20px;
}

.btn-wrapper{
  display: flex;
  justify-content: center;
}

.btn-wrapper button{
  flex-grow: 0.6;
  color: #f3f3f3;
  font-weight: 600;
  border: none;
  padding: 10px 20px;
  background: #CC353E;
  border-radius: 5px;
}

agm-map{
  height: 300px;
}
