:host{
  width: 100%;
  display: flex;
  justify-content: center;
}
form{
  width: 80%;
  display: flex;
}

input{
  width: 100%;
  margin-right: 15px;
  border: 1px solid #D3D3D3;
  border-radius: 10px;
  height: 35px;
  outline: none;
  padding: 5px 10px;
}


input#searchbox:disabled{
  background-color: #fff;
}

input#searchbox:disabled::placeholder {
  color: #afafaf;
}

button{
  border-radius: 10px;
  padding: 5px 20px;
  border: none;
  background: #539647;
  color: #fff;

}

/* large phone screen  */
@media screen and (max-width:767px){
  button{
    display: none;
  }
  input{
    height: 25px;
    border-radius: 5px;
    margin: 0;
  }


input#searchbox:disabled{
  background: #f6f6f6;
}
input#searchbox:disabled::placeholder {
  color: #afafaf;
}

  input#searchbox::placeholder {
    color: #f7f7f7;
    font-weight: 300;
    align-self: center;
    /* display: flex; */
    /* padding: 0 0 38px 0; */
    /* align-items: center; */
    font-size: 0.9rem;
}

}


