:host{
  display: flex;
  justify-content: center;
}

.wrapper{
  width: 100%;
  justify-content: center;
  display: flex;
  padding: 20px;
}

ais-instantsearch{
  display: flex;
  flex-direction: column;
  width: 100%;
}

ais-search-box{
  width: 70%;
  align-self: center;
}
ais-stats{
  align-self: center;
}

ais-pagination{
  width: 100%;
}


ais-hits div.wrapper-results{
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 20px 0;
}

ais-hits .result-card{
  /* display: flex; */
  display: grid;
  min-height: 190px;
  /* grid-template-columns: 60px auto;
  grid-template-columns: auto; */
  grid-column-gap: 15px;
  box-shadow: 0px 4px 15px -5px #d3d3d3;
  padding: 15px;
  border-radius: 10px;
  grid-template-areas: "img title"
                        "img desc" "img price";
}

ais-hits .result-card .title{
 grid-area: title;
 display: flex;
 justify-content: center;
 align-items: center;
}

ais-hits .result-card .title a{
  color: #212529;
  text-decoration: none;
  font-weight: 700;
}

ais-hits .result-card .img{
  grid-area: img;

}
ais-hits .result-card img{
  height: 100%;
  width: 100%;
}


ais-hits .result-card .description{
  grid-area: desc;
}

ais-hits .result-card .price{
  grid-area: price;
}

ais-hits ais-highlight{
  display: flex;
  align-items: center;
  justify-content: center;
}




/* .ais-SearchBox{
  width: 100%;
} */

/* .search-result-section{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 90%;
}
.pos-wrapper{
  position: relative;
  width: 20%;
}

.filter{
  position: fixed;
  border-radius: 10px;
  margin-right: 3%;
  background: #fff;
  max-width: 200px;
  min-width: 150px;
}

.product-list{
  flex-grow: 5;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.sort{
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  font-weight: 600;
  padding: 5px 10px;
}

.button-sort{
  min-width: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #d2d2d2;
  padding: 3px 15px;
  background: #fff;
  outline: none;
  border-radius: 5px;
}


.dropdownlist{
  width: 100%;
  /* min-width: 100%; */
  /* min-width: 100px;
  background: grey;
  font-size: 0.8rem;
  border: none;
} */

/* .dropdownlist button{
  padding: 5px;
  white-space: pre-wrap;
} */

/* tablet device */
@media screen and (min-width: 768px) and (max-width: 1024px){

  ais-search-box{
    width: 85%;
    align-self: center;
  }

  /* .pos-wrapper{
    position: relative;
    width: 30%;
  }
  .filter{
    max-width: 170px;
  } */
}

  /* large phone  */
@media screen and (max-width:767px){
    /* .pos-wrapper{
      display: none;
    }
    .sort{
      display: none;
    } */

    ais-search-box{
      width: 100%;
      align-self: center;
    }
    ais-stats{
      align-self: end;
    }

}



/* =====================================
 */


 .header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #c3002f, #dd0031);
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: " ▸ ";
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.searchbox {
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}
