<span *ngIf="noInternetConnection" class="alert alert-info"
style="
    position: fixed;
    top: 10px;
    z-index: 1000;
    width: 50%;
    text-align: center;
    opacity: 0.9;
">{{connectionMsg}}</span>

<section class="products">

  <app-product *ngFor="let product of productList | paginate: { itemsPerPage: 10, currentPage: p }"  [product]="product" ></app-product>


</section>
<div class="pagination" style=" justify-content: center;">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

 <ngx-spinner
  color="#539467"
  bdColor="rgb(235 255 242)"
  ></ngx-spinner>
