<h2 class="pageTitle">
  Change Password
</h2>


<form [formGroup]="changePasswordForm" action="" method="post">

  <div class="form-group">

      <div class="password-div">
          <input type="text" name="password" id="" class="form-control"
          [ngClass]="{'is-invalid': changePasswordForm.get('password').touched && changePasswordForm.get('password').invalid}"
          formControlName="password" placeholder="New Password">

          <span class="invalid-feedback">Sorry,this field can't be empty</span>
      </div>

      <div class="confirm-password-div">
        <input type="text" name="confirmPassword" id="" class="form-control"
        [ngClass]="{'is-invalid': changePasswordForm.get('confirmPassword').touched && changePasswordForm.get('confirmPassword').invalid}"
        formControlName="ConfirmPassword" placeholder="Confirm Password">

        <span class="invalid-feedback">Sorry,this field can't be empty</span>
      </div>

  </div>

  <div class="btn-wrapper">
    <Button type="submit">
      Change Password
    </Button>
  </div>


    </form>
