<h2 class="pageTitle">
  Change Password {{ cred | async }}
</h2>


<form [formGroup]="changePasswordForm" action="" (ngSubmit)="changePassword();" method="post">

  <div class="form-group">

      <div class="password-div">
        <input type="password" name="oldPassword" id="" class="form-control"
        [ngClass]="{'is-invalid': changePasswordForm.get('oldPassword').touched && changePasswordForm.get('oldPassword').invalid}"
        formControlName="oldPassword" placeholder="Old Password" >

        <span class="invalid-feedback">
        <span *ngIf="changePasswordForm.get('oldPassword').hasError('required')"> Sorry,this field can't be empty</span>
        </span>
      </div>

      <div class="password-div">
          <input type="password" name="password" id="" class="form-control"
          [ngClass]="{'is-invalid': changePasswordForm.get('password').touched && changePasswordForm.get('password').invalid}"
          formControlName="password" placeholder="New Password">

          <span class="invalid-feedback">
           <span *ngIf="changePasswordForm.get('password').hasError('required')"> Sorry,this field can't be empty</span>
           <span *ngIf="changePasswordForm.get('password').hasError('minlength')">Your password should be a Minimum of 8 characters</span>
          </span>
      </div>

      <div class="confirm-password-div">
        <input type="password" name="confirmPassword" id="" class="form-control"
        [ngClass]="{'is-invalid': changePasswordForm.get('confirmPassword').touched && changePasswordForm.get('confirmPassword').invalid}"
        formControlName="confirmPassword" placeholder="Confirm Password">

        <span class="invalid-feedback">
          <!-- <span *ngIf="changePasswordForm.get('confirmPassword').hasError('required')"> Sorry,this field can't be empty</span> -->
          <span *ngIf="changePasswordForm.get('confirmPassword').hasError('match')">Passwords do not Match</span>
        </span>
      </div>

  </div>

  <div class="btn-wrapper">
    <Button type="submit"
    [disabled]="!changePasswordForm.valid"
    [ngClass]="changePasswordForm.get('confirmPassword').invalid || changePasswordForm.get('password').invalid ? 'disabled' : ''"
    >
      Change Password
    </Button>
  </div>


    </form>
