.pageTitle{
  font-size: 1.3rem;
  color: #656565;
  margin-bottom: 30px;
}

.form-group{
  display: flex;
  flex-direction: column;

}

.confirm-password-div{
  margin: 20px 0;
}

.password-div{
  margin: 20px 0;
}

.btn-wrapper{
  display: flex;
  justify-content: center;
}

.btn-wrapper button{
  flex-grow: 0.6;
  color: #f3f3f3;
  font-weight: 600;
  border: none;
  padding: 10px 20px;
  background: #CC353E;
  border-radius: 5px;
}

.disabled{
  background: #ed949a!important;
}

