:host{
  display: flex;
  justify-content: center;
}

.wrapper{
  display: flex;
  padding: 20px;
  justify-content: center;
  /* align-items: center; */
}

.categories-list{
  width: 20%;
  flex-grow: 1;
  background: #ffffff;
}
.categories-list h1{
  font-size: 1.5rem;
}
.categories-list li{
  list-style: none;
}

.carousel{
  flex-grow: auto;
  width: 65%;
  margin: 0 20px;
}

.promoted{
  background: #fff;
  width:20%;
 flex-grow: 1;
}
